<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <link rel='stylesheet' href='public/css/normalize.css' />
    <link rel='stylesheet' href='public/css/header.css' />
    <link rel='stylesheet' href='public/css/footer.css' />
    <link rel='stylesheet' href='public/css/style.css' />
    <link rel='stylesheet' href='public/css/car.css' />
    <link
      rel='stylesheet'
      href='https://unpkg.com/swiper/swiper-bundle.min.css'
    />
    <script src='https://unpkg.com/swiper/swiper-bundle.min.js'></script>
    <script src='public/js/main.js' defer></script>
    <script src='public/js/car.js' defer></script>
  </head>
  <body>
    <header class='header'>
      <div class='header-left'>
        <img class='header-left-logo' src='public/img/logo.svg' />
        <div class='header-left-phone-inner'>
          <img class='header-left-phone-inner-logo' src='public/img/phone.svg' />
          <span>+75 123 456 789</span>
        </div>
      </div>
      <div class='header-right'>
        <a href='#' class='header-link'>Home</a>
        <a href='#' class='header-link'>Listings</a>
        <a href='#' class='header-link'>Blog</a>
        <a href='#' class='header-link'>Pages</a>
        <a href='#' class='header-link'>About Us</a>
        <a href='#' class='header-link'>Contacts</a>
      </div>
      <div class='header-burger-inner'>
        <div class='header-burger'>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class='mobile-menu'>
          <ul class='mobile-menu'>
            <li><a href='#'>Home</a></li>
            <li><a href='#'>Listings</a></li>
            <li><a href='#'>Blog</a></li>
            <li><a href='#'>Pages</a></li>
            <li><a href='#'>About Us</a></li>
            <li><a href='#'>Contacts</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class='main'>
      <section class='top'>
        <div class='container'>
          <div class='top-inner'>
            <div class='breadcrumbs'>
              <a class='breadcrumbs-link' href='#'>Home</a>
              <span>/</span>
              <a class='breadcrumbs-link' href='#'>Listings</a>
              <span>/</span>
              <span class='breadcrumbs-last'>Ranger Black – 2021</span>
            </div>
            <h1 class='breadcrumbs-title'>Ranger Black – 2021</h1>
          </div>
        </div>
      </section>
      <section class='hero'>
        <div class='container'>
          <div class='hero-inner'>
            <div class='hero-left'>
              <div class='hero-left-badges'>
                <div class='hero-left-badge'>
                  <img
                    class='hero-left-badge-logo'
                    src='public/img/badge_calendar.svg'
                    alt='calendar_badge'
                  />
                  <span class='hero-left-badge-label'>2021</span>
                </div>
                <div class='hero-left-badge'>
                  <img
                    class='hero-left-badge-logo'
                    src='public/img/badge_speed.svg'
                    alt='speed_badge'
                  />
                  <span class='hero-left-badge-label'>250 000 km</span>
                </div>
                <div class='hero-left-badge'>
                  <img
                    class='hero-left-badge-logo'
                    src='public/img/badge_transmission.svg'
                    alt=''
                  />
                  <span class='hero-left-badge-label'>Manual</span>
                </div>
                <div class='hero-left-badge'>
                  <img
                    class='hero-left-badge-logo'
                    src='public/img/badge_fuel.svg'
                    alt=''
                  />
                  <span class='hero-left-badge-label'>Petrol</span>
                </div>
              </div>
              <div class='swiper-container hero-swiper'>
                <div class='swiper-wrapper'>
                  <div class='swiper-slide'>
                    <img src='public/img/test_car.jpg' alt='Car Image' />
                  </div>
                  <div class='swiper-slide'>
                    <img src='public/img/test_car_2.jpg' alt='Car Image' />
                  </div>
                  <div class='swiper-slide'>
                    <img src='public/img/test_car_3.jpg' alt='Car Image' />
                  </div>
                  <div class='swiper-slide'>
                    <!-- <img src="public/img/test_car.jpg" alt="Car Image" /> -->
                  </div>
                  <div class='swiper-slide'>
                    <!-- <img src="public/img/test_car.jpg" alt="Car Image" /> -->
                  </div>
                </div>
                <div class='hero-swiper-pagination swiper-pagination'></div>
                <div class='hero-swiper-button-prev swiper-button-prev'></div>
                <div class='hero-swiper-button-next swiper-button-next'></div>
              </div>
            </div>
            <div class='hero-right'>
              <span class='hero-right-info'>Price</span>
              <span class='hero-right-price'>$165 000</span>
              <a class='hero-right-link' href='#'>
                <img
                  class='hero-right-link-logo'
                  src='public/img/badge_link.svg'
                  alt=''
                />
                <span class='hero-right-link-label'>Place an Order</span>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class='overview'>
        <div class='container'>
          <div class='overview-inner'>
            <h3 class='overview-title'>Car Overview</h3>
            <div class='overview-details'>
              <div class='overview-col'>
                <div class='overview-row'>
                  <div class='overview-row-title'>
                    <img
                      class='overview-logo'
                      src='public/img/overview_body.svg'
                      alt=''
                    />
                    <span class='overview-label'>Body</span>
                  </div>
                  <span class='overview-row-value'>Sedan</span>
                </div>
                <div class='overview-row'>
                  <div class='overview-row-title'>
                    <img
                      class='overview-logo'
                      src='public/img/overview_mileage.svg'
                      alt=''
                    />
                    <span class='overview-label'>Mileage</span>
                  </div>
                  <span class='overview-row-value'>250</span>
                </div>
                <div class='overview-row'>
                  <div class='overview-row-title'>
                    <img
                      class='overview-logo'
                      src='public/img/overview_fuel.svg'
                      alt=''
                    />
                    <span class='overview-label'>Fuel Type</span>
                  </div>
                  <span class='overview-row-value'>Petrol</span>
                </div>
                <div class='overview-row'>
                  <div class='overview-row-title'>
                    <img
                      class='overview-logo'
                      src='public/img/overview_year.svg'
                      alt=''
                    />
                    <span class='overview-label'>Year</span>
                  </div>
                  <span class='overview-row-value'>2021</span>
                </div>
                <div class='overview-row'>
                  <div class='overview-row-title'>
                    <img
                      class='overview-logo'
                      src='public/img/overview_transmission.svg'
                      alt=''
                    />
                    <span class='overview-label'>Transmission</span>
                  </div>
                  <span class='overview-row-value'>Manual</span>
                </div>
                <div class='overview-row'>
                  <div class='overview-row-title'>
                    <img
                      class='overview-logo'
                      src='public/img/overview_drive_type.svg'
                      alt=''
                    />
                    <span class='overview-label'>Drive Type</span>
                  </div>
                  <span class='overview-row-value'>Real-Wheel Drive</span>
                </div>
              </div>
              <div class='overview-col'>
                <div class='overview-row'>
                  <div class='overview-row-title'>
                    <img
                      class='overview-logo'
                      src='public/img/overview_condition.svg'
                      alt=''
                    />
                    <span class='overview-label'>Condition</span>
                  </div>
                  <span class='overview-row-value'>Used</span>
                </div>
                <div class='overview-row'>
                  <div class='overview-row-title'>
                    <img
                      class='overview-logo'
                      src='public/img/overview_engine.svg'
                      alt=''
                    />
                    <span class='overview-label'>Engine Size</span>
                  </div>
                  <span class='overview-row-value'>4.0</span>
                </div>
                <div class='overview-row'>
                  <div class='overview-row-title'>
                    <img
                      class='overview-logo'
                      src='public/img/overview_door.svg'
                      alt=''
                    />
                    <span class='overview-label'>Door</span>
                  </div>
                  <span class='overview-row-value'>4 Doors</span>
                </div>
                <div class='overview-row'>
                  <div class='overview-row-title'>
                    <img
                      class='overview-logo'
                      src='public/img/overview_cylinder.svg'
                      alt=''
                    />
                    <span class='overview-label'>Cylinder</span>
                  </div>
                  <span class='overview-row-value'>12</span>
                </div>
                <div class='overview-row'>
                  <div class='overview-row-title'>
                    <img
                      class='overview-logo'
                      src='public/img/overview_color.svg'
                      alt=''
                    />
                    <span class='overview-label'>Color</span>
                  </div>
                  <span class='overview-row-value'>Black</span>
                </div>
                <div class='overview-row'>
                  <div class='overview-row-title'>
                    <img
                      class='overview-logo'
                      src='public/img/overview_vin.svg'
                      alt=''
                    />
                    <span class='overview-label'>VIN</span>
                  </div>
                  <span class='overview-row-value'>FCB123792</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class='features'>
        <div class='container'>
          <div class='features-inner'>
            <h3 class='features-title'>Features</h3>
            <div class='features-content'>
              <div class='features-col'>
                <span class='features-col-title'>Interior</span>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>Air Conditioner</span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>Digital Odometer</span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>Heater</span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>Leather Seats</span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>
                    Panoramic Moonroof
                  </span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>Tachometer</span>
                </div>
              </div>
              <div class='features-col'>
                <span class='features-col-title'>Safety</span>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>Anti-lock Braking</span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>Brake Assist</span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>
                    Child Safety Locks
                  </span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>Driver Air Bag</span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>
                    Power Door Locks
                  </span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>Tachometer</span>
                </div>
              </div>
              <div class='features-col'>
                <span class='features-col-title'>Exterior</span>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>Fog Lights Font</span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>
                    Rain Sensing Wiper
                  </span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'> Rear Spoiler </span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>
                    Windows - Electric
                  </span>
                </div>
              </div>
              <div class='features-col'>
                <span class='features-col-title'>Comfort & Convenience</span>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>Android Auto</span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'> Apple CarPlay </span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'>Bluetooth</span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'> Homelink </span>
                </div>
                <div class='features-col-item'>
                  <span class='features-col-item-checkbox'></span>
                  <span class='features-col-item-label'> Power Steering </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class='related'>
        <div class='container'>
          <div class='related-inner'>
            <h3 class='related-title'>Related Cars</h3>

            <div class='related-swiper swiper'>
              <ul class='related-cars-list swiper-wrapper'>
                <li class='card-list-item swiper-slide'>
                  <div class='card-list-item-top light-blue'>
                    <img src='/public/img/card_item.jpg' alt='' />
                    <div class='card-list-item-top-category'>Great Price</div>
                  </div>
                  <div class='card-list-item-bot light-blue'>
                    <div class='card-list-item-bot-row'>
                      <span class='card-list-item-bot-row-title'>
                        Ford Transit - 2021
                      </span>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/speed_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>250 000 km</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/fuel_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>Diesel</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/transmission_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>Manual</span>
                      </div>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <span class='card-list-item-bot-label-price'>
                          $22.000
                        </span>
                      </div>
                      <a href='#' class='card-list-item-bot-link'>
                        <span class='card-list-item-bot-link-title'>
                          View Details
                        </span>
                        <img
                          class='card-list-item-bot-link-arrow'
                          src='public/img/link_arrow.svg'
                          alt='link arrow'
                        />
                      </a>
                    </div>
                  </div>
                </li>
                <li class='card-list-item swiper-slide'>
                  <div class='card-list-item-top light-blue'>
                    <img src='/public/img/card_item.jpg' alt='' />
                    <div class='card-list-item-top-category'>Great Price</div>
                  </div>
                  <div class='card-list-item-bot light-blue'>
                    <div class='card-list-item-bot-row'>
                      <span class='card-list-item-bot-row-title'>
                        Ford Transit - 2021
                      </span>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/speed_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>250 000 km</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/fuel_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>Diesel</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/transmission_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>Manual</span>
                      </div>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <span
                          class='card-list-item-bot-label-price'
                        >$22.000</span>
                      </div>
                      <a href='#' class='card-list-item-bot-link'>
                        <span class='card-list-item-bot-link-title'>
                          View Details
                        </span>
                        <img
                          class='card-list-item-bot-link-arrow'
                          src='public/img/link_arrow.svg'
                          alt='link arrow'
                        />
                      </a>
                    </div>
                  </div>
                </li>
                <li class='card-list-item swiper-slide'>
                  <div class='card-list-item-top light-blue'>
                    <img src='/public/img/card_item.jpg' alt='' />
                    <div class='card-list-item-top-category'>Great Price</div>
                  </div>
                  <div class='card-list-item-bot light-blue'>
                    <div class='card-list-item-bot-row'>
                      <span class='card-list-item-bot-row-title'>
                        Ford Transit - 2021
                      </span>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/speed_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>2500 miles</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/fuel_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>Diesel</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/transmission_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>Manual</span>
                      </div>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <span
                          class='card-list-item-bot-label-price'
                        >$22.000</span>
                      </div>
                      <a href='#' class='card-list-item-bot-link'>
                        <span class='card-list-item-bot-link-title'>
                          View Details
                        </span>
                        <img
                          class='card-list-item-bot-link-arrow'
                          src='public/img/link_arrow.svg'
                          alt='link arrow'
                        />
                      </a>
                    </div>
                  </div>
                </li>
                <li class='card-list-item swiper-slide'>
                  <div class='card-list-item-top light-blue'>
                    <img src='/public/img/card_item.jpg' alt='' />
                    <div class='card-list-item-top-category'>Great Price</div>
                  </div>
                  <div class='card-list-item-bot light-blue'>
                    <div class='card-list-item-bot-row'>
                      <span class='card-list-item-bot-row-title'>
                        Ford Transit - 2021
                      </span>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/speed_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>2500 miles</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/fuel_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>Diesel</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/transmission_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>Manual</span>
                      </div>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <span
                          class='card-list-item-bot-label-price'
                        >$22.000</span>
                      </div>
                      <a href='#' class='card-list-item-bot-link'>
                        <span class='card-list-item-bot-link-title'>
                          View Details
                        </span>
                        <img
                          class='card-list-item-bot-link-arrow'
                          src='public/img/link_arrow.svg'
                          alt='link arrow'
                        />
                      </a>
                    </div>
                  </div>
                </li>
                <li class='card-list-item swiper-slide'>
                  <div class='card-list-item-top light-blue'>
                    <img src='/public/img/card_item.jpg' alt='' />
                    <div class='card-list-item-top-category'>Great Price</div>
                  </div>
                  <div class='card-list-item-bot light-blue'>
                    <div class='card-list-item-bot-row'>
                      <span class='card-list-item-bot-row-title'>
                        Ford Transit - 2021
                      </span>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/speed_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>2500 miles</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/fuel_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>Diesel</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/transmission_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>Manual</span>
                      </div>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <span class='card-list-item-bot-label-price'>
                          $22.000
                        </span>
                      </div>
                      <a href='#' class='card-list-item-bot-link'>
                        <span class='card-list-item-bot-link-title'>
                          View Details
                        </span>
                        <img
                          class='card-list-item-bot-link-arrow'
                          src='public/img/link_arrow.svg'
                          alt='link arrow'
                        />
                      </a>
                    </div>
                  </div>
                </li>
                <li class='card-list-item swiper-slide'>
                  <div class='card-list-item-top light-blue'>
                    <img src='/public/img/card_item.jpg' alt='' />
                    <div class='card-list-item-top-category'>Great Price</div>
                  </div>
                  <div class='card-list-item-bot light-blue'>
                    <div class='card-list-item-bot-row'>
                      <span class='card-list-item-bot-row-title'>
                        Ford Transit - 2021
                      </span>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/speed_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>2500 miles</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/fuel_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>Diesel</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/transmission_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>Manual</span>
                      </div>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <span class='card-list-item-bot-label-price'>
                          $22.000
                        </span>
                      </div>
                      <a href='#' class='card-list-item-bot-link'>
                        <span class='card-list-item-bot-link-title'>
                          View Details
                        </span>
                        <img
                          class='card-list-item-bot-link-arrow'
                          src='public/img/link_arrow.svg'
                          alt='link arrow'
                        />
                      </a>
                    </div>
                  </div>
                </li>
                <li class='card-list-item swiper-slide'>
                  <div class='card-list-item-top light-blue'>
                    <img src='/public/img/card_item.jpg' alt='' />
                    <div class='card-list-item-top-category'>Great Price</div>
                  </div>
                  <div class='card-list-item-bot light-blue'>
                    <div class='card-list-item-bot-row'>
                      <span class='card-list-item-bot-row-title'>
                        Ford Transit - 2021
                      </span>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/speed_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>2500 miles</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/fuel_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>Diesel</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/transmission_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>Manual</span>
                      </div>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <span class='card-list-item-bot-label-price'>
                          $22.000
                        </span>
                      </div>
                      <a href='#' class='card-list-item-bot-link'>
                        <span class='card-list-item-bot-link-title'>
                          View Details
                        </span>
                        <img
                          class='card-list-item-bot-link-arrow'
                          src='public/img/link_arrow.svg'
                          alt='link arrow'
                        />
                      </a>
                    </div>
                  </div>
                </li>
                <li class='card-list-item swiper-slide'>
                  <div class='card-list-item-top light-blue'>
                    <img src='/public/img/card_item.jpg' alt='' />
                    <div class='card-list-item-top-category'>Great Price</div>
                  </div>
                  <div class='card-list-item-bot light-blue'>
                    <div class='card-list-item-bot-row'>
                      <span class='card-list-item-bot-row-title'>
                        Ford Transit - 2021
                      </span>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/speed_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>2500 miles</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/fuel_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>Diesel</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/transmission_logo.svg'
                          alt=''
                        />
                        <span class='card-list-item-bot-label'>Manual</span>
                      </div>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <span class='card-list-item-bot-label-price'>
                          $22.000
                        </span>
                      </div>
                      <a href='#' class='card-list-item-bot-link'>
                        <span class='card-list-item-bot-link-title'>
                          View Details
                        </span>
                        <img
                          class='card-list-item-bot-link-arrow'
                          src='public/img/link_arrow.svg'
                          alt='link arrow'
                        />
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
              <div class='related-pagination swiper-pagination'></div>
              <div class='related-arrow-prev swiper-button-prev'></div>
              <div class='related-arrow-next swiper-button-next'></div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class='footer'>
      <div class='container'>
        <div class='footer-top-inner'>
          <div class='footer-top'>
            <div class='footer-top-col'>
              <img class='footer-left-logo' src='public/img/logo.svg' />
              <div class='footer-left-phone-inner'>
                <img class='footer-left-phone-inner-logo' src='public/img/phone.svg' />
                <span>+75 123 456 789</span>
              </div>
            </div>
            <div class='footer-top-col'>
              <span class='footer-col-title'>Company</span>
              <a class='footer-col-link' href='#'>About Us</a>
              <a class='footer-col-link' href='#'>Blog</a>
              <a class='footer-col-link' href='#'>Services</a>
              <a class='footer-col-link' href='#'>FAQs</a>
              <a class='footer-col-link' href='#'>Terms</a>
              <a class='footer-col-link' href='#'>Contact Us</a>
            </div>
            <div class='footer-top-col'>
              <span class='footer-col-title'>Top Brands</span>
              <a class='footer-col-link' href='#'>Toyota</a>
              <a class='footer-col-link' href='#'>Porsche</a>
              <a class='footer-col-link' href='#'>Audi</a>
              <a class='footer-col-link' href='#'>BMW</a>
              <a class='footer-col-link' href='#'>Ford</a>
              <a class='footer-col-link' href='#'>Nissan</a>
              <a class='footer-col-link' href='#'>Peugeot</a>
              <a class='footer-col-link' href='#'>Volkswagen</a>
            </div>
            <div class='footer-top-col'>
              <span class='footer-col-title'>Vehicles Type</span>
              <a class='footer-col-link' href='#'>Sedan</a>
              <a class='footer-col-link' href='#'>Hatchback</a>
              <a class='footer-col-link' href='#'>SUV</a>
              <a class='footer-col-link' href='#'>Hybrid</a>
              <a class='footer-col-link' href='#'>Electric</a>
              <a class='footer-col-link' href='#'>Coupe</a>
              <a class='footer-col-link' href='#'>Truck</a>
              <a class='footer-col-link' href='#'>Convertible</a>
            </div>
          </div>
        </div>
      </div>
      <div class='footer-bot-inner'>
        <div class='container'>
          <div class='footer-bot'>© 2024 exemple.com. All rights reserved.</div>
        </div>
      </div>
    </footer>
  </body>
</html>