<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <link rel='stylesheet' href='public/css/normalize.css' />
    <link rel='stylesheet' href='public/css/main.css' />
    <link rel='stylesheet' href='public/css/header.css' />
    <link rel='stylesheet' href='public/css/footer.css' />
    <link
      rel='stylesheet'
      href='https://unpkg.com/swiper/swiper-bundle.min.css'
    />
    <script src='https://unpkg.com/swiper/swiper-bundle.min.js'></script>
    <script src='public/js/main.js' defer></script>
    <script src='public/js/header.js' defer></script>
  </head>
  <body>
    <header class='header'>
      <div class='header-left'>
        <img class='header-left-logo' src='public/img/logo.svg' alt='logo' />
        <div class='header-left-phone-inner'>
          <img
            class='header-left-phone-inner-logo'
            src='public/img/phone.svg'
            alt='phone'
          />
          <span>+75 123 456 789</span>
        </div>
      </div>
      <!-- original menu -->
      <div class='header-right'>
        <a href='#' class='header-link'>Home</a>
        <a href='#' class='header-link'>Listings</a>
        <a href='#' class='header-link'>Blog</a>
        <a href='#' class='header-link'>Pages</a>
        <a href='#' class='header-link'>About Us</a>
        <a href='#' class='header-link'>Contacts</a>
      </div>
      <!-- mobile menu -->

      <div class='header-burger-inner'>
        <div class='header-burger'>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class='mobile-menu'>
          <ul class='mobile-menu-list'>
            <li class='mobile-menu-list-item'>
              <a class='mobile-menu-list-item-link' href='#'>Home</a>
            </li>
            <li class='mobile-menu-list-item'>
              <a class='mobile-menu-list-item-link' href='#'>Listings</a>
            </li>
            <li class='mobile-menu-list-item'>
              <a class='mobile-menu-list-item-link' href='#'>Blog</a>
            </li>
            <li class='mobile-menu-list-item'>
              <a class='mobile-menu-list-item-link' href='#'>Pages</a>
            </li>
            <li class='mobile-menu-list-item'>
              <a class='mobile-menu-list-item-link' href='#'>About Us</a>
            </li>
            <li class='mobile-menu-list-item'>
              <a class='mobile-menu-list-item-link' href='#'>Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class='main'>
      <section class='hero'>
        <div class='container'>
          <div class='hero-top'>
            <div class='hero-top-info'>
              Find cars for sale and for rent near you
            </div>
            <h1 class='hero-top-title'>Find You Dream Car</h1>

            <form class='hero-top-filters' action='/catalog' method='GET'>
              <div class='hero-top-filter'>
                <div class='hero-top-filter-value'>All Cars</div>
                <div class='hero-top-filter-dropdown'>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='all_cars'
                  >
                    All Cars
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='whole_cars'
                  >
                    Whole Cars
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='damaged_cars'
                  >
                    Damaged Cars
                  </div>
                </div>
                <input type='hidden' name='carCondition' value='all_cars' />
              </div>

              <div class='hero-top-filter'>
                <div class='hero-top-filter-value'>All Makes</div>
                <div class='hero-top-filter-dropdown'>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='all_makes'
                  >
                    All Makes
                  </div>
                  <div class='hero-top-filter-dropdown-item' data-value='audi'>
                    Audi
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='aston_martin'
                  >
                    Aston Martin
                  </div>
                  <div class='hero-top-filter-dropdown-item' data-value='bmw'>
                    BMW
                  </div>
                  <div class='hero-top-filter-dropdown-item' data-value='volvo'>
                    Volvo
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='mercedes'
                  >
                    Mercedes
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='jaguar'
                  >
                    Jaguar
                  </div>
                </div>
                <input type='hidden' name='make' value='any_makes' />
              </div>

              <div class='hero-top-filter'>
                <div class='hero-top-filter-value'>All Models</div>
                <div class='hero-top-filter-dropdown'>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='all_models'
                  >
                    All Models
                  </div>
                  <!--  -->
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='a_4'
                    data-make='audi'
                  >
                    A4
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='a_5'
                    data-make='audi'
                  >
                    A5
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='a_6'
                    data-make='audi'
                  >
                    A6
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='a_7'
                    data-make='audi'
                  >
                    A7
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='a_8'
                    data-make='audi'
                  >
                    A8
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='q_3'
                    data-make='audi'
                  >
                    Q3
                  </div>
                  <!--  -->
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='dbx'
                    data-make='aston_martin'
                  >
                    DBX
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='vantage'
                    data-make='aston_martin'
                  >
                    Vantage
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='db12'
                    data-make='aston_martin'
                  >
                    DB12
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='dbs'
                    data-make='aston_martin'
                  >
                    DBS
                  </div>
                  <!--  -->
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='x1'
                    data-make='bmw'
                  >
                    X1
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='x2'
                    data-make='bmw'
                  >
                    X2
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='x3'
                    data-make='bmw'
                  >
                    X3
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='x4'
                    data-make='bmw'
                  >
                    X4
                  </div>
                  <!--  -->
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='xc90'
                    data-make='volvo'
                  >
                    XC90
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='s90'
                    data-make='volvo'
                  >
                    S90
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='xc60'
                    data-make='volvo'
                  >
                    XC60
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='v60'
                    data-make='volvo'
                  >
                    V60
                  </div>
                  <!--  -->
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='eqb'
                    data-make='mercedes'
                  >
                    EQB
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='glb'
                    data-make='mercedes'
                  >
                    GLB
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='c_class'
                    data-make='mercedes'
                  >
                    C-Class
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='s_class'
                    data-make='mercedes'
                  >
                    S-Class
                  </div>

                  <!--  -->
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='f_pace'
                    data-make='jaguar'
                  >
                    F-Pace
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='e_pace'
                    data-make='jaguar'
                  >
                    E-Pace
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='f_type'
                    data-make='jaguar'
                  >
                    F-Type
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='xe'
                    data-make='jaguar'
                  >
                    XE
                  </div>
                </div>
                <input type='hidden' name='model' value='all_models' />
              </div>

              <div class='hero-top-filter'>
                <div class='hero-top-filter-value'>All Prices</div>
                <div class='hero-top-filter-dropdown'>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='1000_2000'
                  >
                    1 000 $ - 2 000 $
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='2000_3000'
                  >
                    2 000 $ - 3 000 $
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='3000_4000'
                  >
                    3 000 $ - 4 000 $
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='4000_5000'
                  >
                    4 000 $ - 5 000 $
                  </div>
                  <div
                    class='hero-top-filter-dropdown-item'
                    data-value='5000_10000'
                  >
                    5 000 $ - 10 000 $
                  </div>
                </div>
                <input type='hidden' name='prices' value='1000_2000' />
              </div>

              <button type='submit' class='hero-top-filter-button'>
                <img
                  class='hero-top-filter-button-logo'
                  src='public/img/search.svg'
                  alt='search'
                />
              </button>
            </form>
          </div>
          <div class='hero-bot'>
            <img src='public/img/hero.png' alt='hero' />
          </div>
        </div>
      </section>
      <section class='types'>
        <div class='container'>
          <div class='types-inner'>
            <h3 class='types-title'>Browse by Type</h3>
            <ul class='types-list'>
              <li class='types-list-item'>
                <a class='types-link' href='#'>
                  <img
                    class='types-logo'
                    src='public/img/suv_logo.svg'
                    alt='SUV logo'
                  />
                  <span class='types-name'>SUV</span>
                </a>
              </li>
              <li class='types-list-item'>
                <a class='types-link' href='#'>
                  <img
                    class='types-logo'
                    src='public/img/sedan_logo.svg'
                    alt='Sedan logo'
                  />
                  <span class='types-name'>Sedan</span>
                </a>
              </li>
              <li class='types-list-item'>
                <a class='types-link' href='#'>
                  <img
                    class='types-logo'
                    src='public/img/hatchback_logo.svg'
                    alt='Hatchback logo'
                  />
                  <span class='types-name'>Hatchback</span>
                </a>
              </li>
              <li class='types-list-item'>
                <a class='types-link' href='#'>
                  <img
                    class='types-logo'
                    src='public/img/coupe_logo.svg'
                    alt='Coupe logo'
                  />
                  <span class='types-name'>Coupe</span>
                </a>
              </li>
              <li class='types-list-item'>
                <a class='types-link' href='#'>
                  <img
                    class='types-logo'
                    src='public/img/hybrid_logo.svg'
                    alt='Hybrid logo'
                  />
                  <span class='types-name'>Hybrid</span>
                </a>
              </li>
              <li class='types-list-item'>
                <a class='types-link' href='#'>
                  <img
                    class='types-logo'
                    src='public/img/convertible_logo.svg'
                    alt='Convertible logo'
                  />
                  <span class='types-name'>Convertible</span>
                </a>
              </li>
              <li class='types-list-item'>
                <a class='types-link' href='#'>
                  <img
                    class='types-logo'
                    src='public/img/van_logo.svg'
                    alt='SUV logo'
                  />
                  <span class='types-name'>Van</span>
                </a>
              </li>
              <li class='types-list-item'>
                <a class='types-link' href='#'>
                  <img
                    class='types-logo'
                    src='public/img/truck_logo.svg'
                    alt='Truck logo'
                  />
                  <span class='types-name'>Truck</span>
                </a>
              </li>
              <li class='types-list-item'>
                <a class='types-link' href='#'>
                  <img
                    class='types-logo'
                    src='public/img/electric_logo.svg'
                    alt='Electic logo'
                  />
                  <span class='types-name'>Electic</span>
                </a>
              </li>
            </ul>
            <div class='types-bottom-link-inner'>
              <a href='#' class='types-bottom-link'>
                <span class='types-bottom-link-title'>View All</span>
                <img
                  class='types-bottom-link-arrow'
                  src='public/img/link_arrow_black.svg'
                  alt='arrow'
                />
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class='brands'>
        <div class='container'>
          <div class='brands-inner'>
            <h3 class='brands-title'>Browse by Brand</h3>
            <ul class='brands-list'>
              <li class='brands-list-item'>
                <a class='brands-link' href='#'>
                  <img
                    class='brands-logo'
                    src='public/img/audi_logo.svg'
                    alt='Audi logo'
                  />
                  <span class='brands-name'>Audi</span>
                </a>
              </li>
              <li class='brands-list-item'>
                <a class='brands-link' href='#'>
                  <img
                    class='brands-logo'
                    src='public/img/ford_logo.svg'
                    alt='Ford logo'
                  />
                  <span class='brands-name'>Ford</span>
                </a>
              </li>
              <li class='brands-list-item'>
                <a class='brands-link' href='#'>
                  <img
                    class='brands-logo'
                    src='public/img/volkswagen_logo.svg'
                    alt='Volkswagen logo'
                  />
                  <span class='brands-name'>Volkswagen</span>
                </a>
              </li>
              <li class='brands-list-item'>
                <a class='brands-link' href='#'>
                  <img
                    class='brands-logo'
                    src='public/img/bmw_logo.svg'
                    alt='BMW logo'
                  />
                  <span class='brands-name'>BMW</span>
                </a>
              </li>
              <li class='brands-list-item'>
                <a class='brands-link' href='#'>
                  <img
                    class='brands-logo'
                    src='public/img/renault_logo.svg'
                    alt='Renault logo'
                  />
                  <span class='brands-name'>Renault</span>
                </a>
              </li>
              <li class='brands-list-item'>
                <a class='brands-link' href='#'>
                  <img
                    class='brands-logo'
                    src='public/img/skoda_logo.svg'
                    alt='Skoda logo'
                  />
                  <span class='brands-name'>Skoda</span>
                </a>
              </li>
              <li class='brands-list-item'>
                <a class='brands-link' href='#'>
                  <img
                    class='brands-logo'
                    src='public/img/mazda_logo.svg'
                    alt='Mazda logo'
                  />
                  <span class='brands-name'>Mazda</span>
                </a>
              </li>
              <li class='brands-list-item'>
                <a class='brands-link' href='#'>
                  <img
                    class='brands-logo'
                    src='public/img/nissan_logo.svg'
                    alt='Nissan logo'
                  />
                  <span class='brands-name'>Nissan</span>
                </a>
              </li>
              <li class='brands-list-item'>
                <a class='brands-link' href='#'>
                  <img
                    class='brands-logo'
                    src='public/img/opel_logo.svg'
                    alt='Opel logo'
                  />
                  <span class='brands-name'>Opel</span>
                </a>
              </li>
            </ul>
            <div class='brands-bottom-link-inner'>
              <a href='#' class='brands-bottom-link'>
                <span class='brands-bottom-link-title'>View All</span>
                <img
                  class='brands-bottom-link-arrow'
                  src='public/img/link_arrow_black.svg'
                  alt=''
                />
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- <section class="services">
        <div class="container">
          <div class="services-inner">
            <div class="services-item">
              <div class="services-item-left">
                <h3 class="services-item-title">Are You Looking</h3>
                <h3 class="services-item-title">For a Car ?</h3>
                <span class="services-item-info">
                  We are committed to providing our customers with exceptional
                  service.
                </span>
                <a href="#" class="services-item-link">
                  <span class="services-item-link-label">Get Started</span>
                  <img
                    class="services-item-link-arrow"
                    src="img/link_arrow.svg"
                    alt=""
                  />
                </a>
              </div>
              <div class="services-item-right">
                <img
                  class="service-logo"
                  src="img/electric_car_logo.svg"
                  alt=""
                />
              </div>
            </div>

            <div class="services-item">
              <div class="services-item-left">
                <h3 class="services-item-title">Do You Want to</h3>
                <h3 class="services-item-title">Sell a Car ?</h3>
                <span class="services-item-info">
                  We are committed to providing our customers with exceptional
                  service.
                </span>
                <a href="#" class="services-item-link">
                  <span class="services-item-link-label">Get Started</span>
                  <img
                    class="services-item-link-arrow"
                    src="img/link_arrow.svg"
                    alt=""
                  />
                </a>
              </div>
              <div class="services-item-right">
                <img
                  class="service-logo"
                  src="img/electric-car2_logo.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <section class='cars'>
        <div class='container'>
          <div class='cars-inner'>
            <h3 class='cars-title'>Latest Cars</h3>
            <ul class='cars-list'>
              <li class='card-list-item'>
                <div class='card-list-item-top'>
                  <img src='public/img/card_item.jpg' alt='card_item' />
                  <div class='card-list-item-top-category'>Great Price</div>
                </div>
                <div class='card-list-item-bot'>
                  <div class='card-list-item-bot-row'>
                    <span class='card-list-item-bot-row-title'>
                      Ford Transit - 2021
                    </span>
                  </div>
                  <div class='card-list-item-bot-row'>
                    <div class='card-list-item-bot-col'>
                      <img
                        class='card-list-item-bot-col-logo'
                        src='public/img/speed_logo.svg'
                        alt='speed_logo'
                      />
                      <span class='card-list-item-bot-label'>2500 miles</span>
                    </div>
                    <div class='card-list-item-bot-col'>
                      <img
                        class='card-list-item-bot-col-logo'
                        src='public/img/fuel_logo.svg'
                        alt='fuel_logo'
                      />
                      <span class='card-list-item-bot-label'>Diesel</span>
                    </div>
                    <div class='card-list-item-bot-col'>
                      <img
                        class='card-list-item-bot-col-logo'
                        src='public/img/transmission_logo.svg'
                        alt='transmission_logo'
                      />
                      <span class='card-list-item-bot-label'>Manual</span>
                    </div>
                  </div>
                  <div class='card-list-item-bot-row'>
                    <div class='card-list-item-bot-col'>
                      <span
                        class='card-list-item-bot-label-price'
                      >$22.000</span>
                    </div>
                    <a href='#' class='card-list-item-bot-link'>
                      <span class='card-list-item-bot-link-title'>
                        View Details
                      </span>
                      <img
                        class='card-list-item-bot-link-arrow'
                        src='public/img/link_arrow.svg'
                        alt='link arrow'
                      />
                    </a>
                  </div>
                </div>
              </li>
              <li class='card-list-item'>
                <div class='card-list-item-top'>
                  <img src='public/img/card_item.jpg' alt='card_item' />
                  <div class='card-list-item-top-category'>Great Price</div>
                </div>
                <div class='card-list-item-bot'>
                  <div class='card-list-item-bot-row'>
                    <span class='card-list-item-bot-row-title'>
                      Ford Transit - 2021
                    </span>
                  </div>
                  <div class='card-list-item-bot-row'>
                    <div class='card-list-item-bot-col'>
                      <img
                        class='card-list-item-bot-col-logo'
                        src='public/img/speed_logo.svg'
                        alt='card_item'
                      />
                      <span class='card-list-item-bot-label'>2500 miles</span>
                    </div>
                    <div class='card-list-item-bot-col'>
                      <img
                        class='card-list-item-bot-col-logo'
                        src='public/img/fuel_logo.svg'
                        alt='fuel_logo'
                      />
                      <span class='card-list-item-bot-label'>Diesel</span>
                    </div>
                    <div class='card-list-item-bot-col'>
                      <img
                        class='card-list-item-bot-col-logo'
                        src='public/img/transmission_logo.svg'
                        alt='transmission_logo'
                      />
                      <span class='card-list-item-bot-label'>Manual</span>
                    </div>
                  </div>
                  <div class='card-list-item-bot-row'>
                    <div class='card-list-item-bot-col'>
                      <span
                        class='card-list-item-bot-label-price'
                      >$22.000</span>
                    </div>
                    <a href='#' class='card-list-item-bot-link'>
                      <span class='card-list-item-bot-link-title'>
                        View Details
                      </span>
                      <img
                        class='card-list-item-bot-link-arrow'
                        src='public/img/link_arrow.svg'
                        alt='link arrow'
                      />
                    </a>
                  </div>
                </div>
              </li>
              <li class='card-list-item'>
                <div class='card-list-item-top'>
                  <img src='public/img/card_item.jpg' alt='card_item' />
                  <div class='card-list-item-top-category'>Great Price</div>
                </div>
                <div class='card-list-item-bot'>
                  <div class='card-list-item-bot-row'>
                    <span class='card-list-item-bot-row-title'>
                      Ford Transit - 2021
                    </span>
                  </div>
                  <div class='card-list-item-bot-row'>
                    <div class='card-list-item-bot-col'>
                      <img
                        class='card-list-item-bot-col-logo'
                        src='public/img/speed_logo.svg'
                        alt='speed_logo'
                      />
                      <span class='card-list-item-bot-label'>2500 miles</span>
                    </div>
                    <div class='card-list-item-bot-col'>
                      <img
                        class='card-list-item-bot-col-logo'
                        src='public/img/fuel_logo.svg'
                        alt='fuel_logo'
                      />
                      <span class='card-list-item-bot-label'>Diesel</span>
                    </div>
                    <div class='card-list-item-bot-col'>
                      <img
                        class='card-list-item-bot-col-logo'
                        src='public/img/transmission_logo.svg'
                        alt='transmission_logo'
                      />
                      <span class='card-list-item-bot-label'>Manual</span>
                    </div>
                  </div>
                  <div class='card-list-item-bot-row'>
                    <div class='card-list-item-bot-col'>
                      <span
                        class='card-list-item-bot-label-price'
                      >$22.000</span>
                    </div>
                    <a href='#' class='card-list-item-bot-link'>
                      <span class='card-list-item-bot-link-title'>
                        View Details
                      </span>
                      <img
                        class='card-list-item-bot-link-arrow'
                        src='public/img/link_arrow.svg'
                        alt='link arrow'
                      />
                    </a>
                  </div>
                </div>
              </li>
              <li class='card-list-item'>
                <div class='card-list-item-top'>
                  <img src='public/img/card_item.jpg' alt='card_item' />
                  <div class='card-list-item-top-category'>Great Price</div>
                </div>
                <div class='card-list-item-bot'>
                  <div class='card-list-item-bot-row'>
                    <span class='card-list-item-bot-row-title'>
                      Ford Transit - 2021
                    </span>
                  </div>
                  <div class='card-list-item-bot-row'>
                    <div class='card-list-item-bot-col'>
                      <img
                        class='card-list-item-bot-col-logo'
                        src='public/img/speed_logo.svg'
                        alt='speed_logo'
                      />
                      <span class='card-list-item-bot-label'>2500 miles</span>
                    </div>
                    <div class='card-list-item-bot-col'>
                      <img
                        class='card-list-item-bot-col-logo'
                        src='public/img/fuel_logo.svg'
                        alt='fuel_logo'
                      />
                      <span class='card-list-item-bot-label'>Diesel</span>
                    </div>
                    <div class='card-list-item-bot-col'>
                      <img
                        class='card-list-item-bot-col-logo'
                        src='public/img/transmission_logo.svg'
                        alt='transmission_logo'
                      />
                      <span class='card-list-item-bot-label'>Manual</span>
                    </div>
                  </div>
                  <div class='card-list-item-bot-row'>
                    <div class='card-list-item-bot-col'>
                      <span
                        class='card-list-item-bot-label-price'
                      >$22.000</span>
                    </div>
                    <a href='#' class='card-list-item-bot-link'>
                      <span class='card-list-item-bot-link-title'>
                        View Details
                      </span>
                      <img
                        class='card-list-item-bot-link-arrow'
                        src='public/img/link_arrow.svg'
                        alt='link arrow'
                      />
                    </a>
                  </div>
                </div>
              </li>
            </ul>
            <div class='cars-button-inner'>
              <button class='cars-button'>Show More</button>
            </div>
          </div>
        </div>
      </section>
      <section class='whyus'>
        <div class='container'>
          <div class='whyus-inner'>
            <h3 class='whyus-title'>Why Choose Us?</h3>
            <ul class='whyus-list'>
              <li class='whyus-list-item'>
                <img
                  class='whyus-list-item-logo'
                  src='public/img/whyus_logo_1.svg'
                  alt='whyus_logo'
                />
                <h4 class='whyus-list-item-title'>Special Financing Offers</h4>
                <span class='whyus-list-item-info'>
                  Our stress-free finance department that can find financial
                  solutions to save you money.
                </span>
              </li>
              <li class='whyus-list-item'>
                <img
                  class='whyus-list-item-logo'
                  src='public/img/whyus_logo_2.svg'
                  alt='whyus_logo_2'
                />
                <h4 class='whyus-list-item-title'>Trusted Car Dealership</h4>
                <span class='whyus-list-item-info'>
                  Our stress-free finance department that can find financial
                  solutions to save you money.
                </span>
              </li>
              <li class='whyus-list-item'>
                <img
                  class='whyus-list-item-logo'
                  src='public/img/whyus_logo_3.svg'
                  alt='whyus_logo_3'
                />
                <h4 class='whyus-list-item-title'>Transparent Pricing</h4>
                <span class='whyus-list-item-info'>
                  Our stress-free finance department that can find financial
                  solutions to save you money.
                </span>
              </li>
              <li class='whyus-list-item'>
                <img
                  class='whyus-list-item-logo'
                  src='public/img/whyus_logo_4.svg'
                  alt='whyus_logo_4'
                />
                <h4 class='whyus-list-item-title'>Expert Car Service</h4>
                <span class='whyus-list-item-info'>
                  Our stress-free finance department that can find financial
                  solutions to save you money.
                </span>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class='featured'>
        <div class='container'>
          <div class='featured-inner'>
            <div class='featured-top'>
              <h3 class='featured-title'>Featured Cars</h3>
              <a href='#' class='featured-link'>
                <span class='featured-link-text'>View All</span>
                <img
                  class='featured-link-arrow'
                  src='public/img/link_arrow.svg'
                  alt='arrow-link'
                />
              </a>
            </div>
            <div class='featured-tabs'>
              <span class='featured-tabs-item'>Whole Cars</span>
              <span class='featured-tabs-item selected'>Damaged Cars</span>
            </div>

            <div class='swiper'>
              <ul class='cars-list swiper-wrapper'>
                <li class='card-list-item swiper-slide'>
                  <div class='card-list-item-top light-blue'>
                    <img src='public/img/card_item.jpg' alt='' />
                    <div class='card-list-item-top-category'>Great Price</div>
                  </div>
                  <div class='card-list-item-bot light-blue'>
                    <div class='card-list-item-bot-row'>
                      <span class='card-list-item-bot-row-title'>
                        Ford Transit - 2021
                      </span>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/speed_logo.svg'
                          alt='speed_logo'
                        />
                        <span class='card-list-item-bot-label'>2500 miles</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/fuel_logo.svg'
                          alt='fuel_logo'
                        />
                        <span class='card-list-item-bot-label'>Diesel</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/transmission_logo.svg'
                          alt='transmission_logo'
                        />
                        <span class='card-list-item-bot-label'>Manual</span>
                      </div>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <span
                          class='card-list-item-bot-label-price'
                        >$22.000</span>
                      </div>
                      <a href='#' class='card-list-item-bot-link'>
                        <span class='card-list-item-bot-link-title'>
                          View Details
                        </span>
                        <img
                          class='card-list-item-bot-link-arrow'
                          src='public/img/link_arrow.svg'
                          alt='link arrow'
                        />
                      </a>
                    </div>
                  </div>
                </li>
                <li class='card-list-item swiper-slide'>
                  <div class='card-list-item-top light-blue'>
                    <img src='public/img/card_item.jpg' alt='card_item' />
                    <div class='card-list-item-top-category'>Great Price</div>
                  </div>
                  <div class='card-list-item-bot light-blue'>
                    <div class='card-list-item-bot-row'>
                      <span class='card-list-item-bot-row-title'>
                        Ford Transit - 2021
                      </span>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/speed_logo.svg'
                          alt='speed_logo'
                        />
                        <span class='card-list-item-bot-label'>2500 miles</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/fuel_logo.svg'
                          alt='fuel_logo'
                        />
                        <span class='card-list-item-bot-label'>Diesel</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/transmission_logo.svg'
                          alt='transmission_logo'
                        />
                        <span class='card-list-item-bot-label'>Manual</span>
                      </div>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <span
                          class='card-list-item-bot-label-price'
                        >$22.000</span>
                      </div>
                      <a href='#' class='card-list-item-bot-link'>
                        <span class='card-list-item-bot-link-title'>
                          View Details
                        </span>
                        <img
                          class='card-list-item-bot-link-arrow'
                          src='public/img/link_arrow.svg'
                          alt='link arrow'
                        />
                      </a>
                    </div>
                  </div>
                </li>
                <li class='card-list-item swiper-slide'>
                  <div class='card-list-item-top light-blue'>
                    <img src='public/img/card_item.jpg' alt='car_item' />
                    <div class='card-list-item-top-category'>Great Price</div>
                  </div>
                  <div class='card-list-item-bot light-blue'>
                    <div class='card-list-item-bot-row'>
                      <span class='card-list-item-bot-row-title'>
                        Ford Transit - 2021
                      </span>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/speed_logo.svg'
                          alt='speed_logo'
                        />
                        <span class='card-list-item-bot-label'>2500 miles</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/fuel_logo.svg'
                          alt='fuel_logo'
                        />
                        <span class='card-list-item-bot-label'>Diesel</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/transmission_logo.svg'
                          alt='transmission_logo'
                        />
                        <span class='card-list-item-bot-label'>Manual</span>
                      </div>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <span
                          class='card-list-item-bot-label-price'
                        >$22.000</span>
                      </div>
                      <a href='#' class='card-list-item-bot-link'>
                        <span class='card-list-item-bot-link-title'>
                          View Details
                        </span>
                        <img
                          class='card-list-item-bot-link-arrow'
                          src='public/img/link_arrow.svg'
                          alt='link arrow'
                        />
                      </a>
                    </div>
                  </div>
                </li>
                <li class='card-list-item swiper-slide'>
                  <div class='card-list-item-top light-blue'>
                    <img src='public/img/card_item.jpg' alt='car_item' />
                    <div class='card-list-item-top-category'>Great Price</div>
                  </div>
                  <div class='card-list-item-bot light-blue'>
                    <div class='card-list-item-bot-row'>
                      <span class='card-list-item-bot-row-title'>
                        Ford Transit - 2021
                      </span>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/speed_logo.svg'
                          alt='speed_logo'
                        />
                        <span class='card-list-item-bot-label'>2500 miles</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/fuel_logo.svg'
                          alt='fuel_logo'
                        />
                        <span class='card-list-item-bot-label'>Diesel</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/transmission_logo.svg'
                          alt='transmission'
                        />
                        <span class='card-list-item-bot-label'>Manual</span>
                      </div>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <span
                          class='card-list-item-bot-label-price'
                        >$22.000</span>
                      </div>
                      <a href='#' class='card-list-item-bot-link'>
                        <span class='card-list-item-bot-link-title'>
                          View Details
                        </span>
                        <img
                          class='card-list-item-bot-link-arrow'
                          src='public/img/link_arrow.svg'
                          alt='link arrow'
                        />
                      </a>
                    </div>
                  </div>
                </li>
                <li class='card-list-item swiper-slide'>
                  <div class='card-list-item-top light-blue'>
                    <img src='public/img/card_item.jpg' alt='' />
                    <div class='card-list-item-top-category'>Great Price</div>
                  </div>
                  <div class='card-list-item-bot light-blue'>
                    <div class='card-list-item-bot-row'>
                      <span class='card-list-item-bot-row-title'>
                        Ford Transit - 2021
                      </span>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/speed_logo.svg'
                          alt='speed_logo'
                        />
                        <span class='card-list-item-bot-label'>2500 miles</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/fuel_logo.svg'
                          alt='fuel_logo'
                        />
                        <span class='card-list-item-bot-label'>Diesel</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/transmission_logo.svg'
                          alt='transmission_logo'
                        />
                        <span class='card-list-item-bot-label'>Manual</span>
                      </div>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <span
                          class='card-list-item-bot-label-price'
                        >$22.000</span>
                      </div>
                      <a href='#' class='card-list-item-bot-link'>
                        <span class='card-list-item-bot-link-title'>
                          View Details
                        </span>
                        <img
                          class='card-list-item-bot-link-arrow'
                          src='public/img/link_arrow.svg'
                          alt='link arrow'
                        />
                      </a>
                    </div>
                  </div>
                </li>
                <li class='card-list-item swiper-slide'>
                  <div class='card-list-item-top light-blue'>
                    <img src='public/img/card_item.jpg' alt='card_item' />
                    <div class='card-list-item-top-category'>Great Price</div>
                  </div>
                  <div class='card-list-item-bot light-blue'>
                    <div class='card-list-item-bot-row'>
                      <span class='card-list-item-bot-row-title'>
                        Ford Transit - 2021
                      </span>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/speed_logo.svg'
                          alt='speed_logo'
                        />
                        <span class='card-list-item-bot-label'>2500 miles</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/fuel_logo.svg'
                          alt='fuel_logo'
                        />
                        <span class='card-list-item-bot-label'>Diesel</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/transmission_logo.svg'
                          alt='transmission_logo'
                        />
                        <span class='card-list-item-bot-label'>Manual</span>
                      </div>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <span
                          class='card-list-item-bot-label-price'
                        >$22.000</span>
                      </div>
                      <a href='#' class='card-list-item-bot-link'>
                        <span class='card-list-item-bot-link-title'>
                          View Details
                        </span>
                        <img
                          class='card-list-item-bot-link-arrow'
                          src='public/img/link_arrow.svg'
                          alt='link arrow'
                        />
                      </a>
                    </div>
                  </div>
                </li>
                <li class='card-list-item swiper-slide'>
                  <div class='card-list-item-top light-blue'>
                    <img src='public/img/card_item.jpg' alt='car_item' />
                    <div class='card-list-item-top-category'>Great Price</div>
                  </div>
                  <div class='card-list-item-bot light-blue'>
                    <div class='card-list-item-bot-row'>
                      <span class='card-list-item-bot-row-title'>
                        Ford Transit - 2021
                      </span>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/speed_logo.svg'
                          alt='speed_logo'
                        />
                        <span class='card-list-item-bot-label'>2500 miles</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/fuel_logo.svg'
                          alt='fuel_logo'
                        />
                        <span class='card-list-item-bot-label'>Diesel</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/transmission_logo.svg'
                          alt='transmission_logo'
                        />
                        <span class='card-list-item-bot-label'>Manual</span>
                      </div>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <span
                          class='card-list-item-bot-label-price'
                        >$22.000</span>
                      </div>
                      <a href='#' class='card-list-item-bot-link'>
                        <span class='card-list-item-bot-link-title'>
                          View Details
                        </span>
                        <img
                          class='card-list-item-bot-link-arrow'
                          src='public/img/link_arrow.svg'
                          alt='link arrow'
                        />
                      </a>
                    </div>
                  </div>
                </li>
                <li class='card-list-item swiper-slide'>
                  <div class='card-list-item-top light-blue'>
                    <img src='public/img/card_item.jpg' alt='car_item' />
                    <div class='card-list-item-top-category'>Great Price</div>
                  </div>
                  <div class='card-list-item-bot light-blue'>
                    <div class='card-list-item-bot-row'>
                      <span class='card-list-item-bot-row-title'>
                        Ford Transit - 2021
                      </span>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/speed_logo.svg'
                          alt='speed_logo'
                        />
                        <span class='card-list-item-bot-label'>2500 miles</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/fuel_logo.svg'
                          alt='fuel_logo'
                        />
                        <span class='card-list-item-bot-label'>Diesel</span>
                      </div>
                      <div class='card-list-item-bot-col'>
                        <img
                          class='card-list-item-bot-col-logo'
                          src='public/img/transmission_logo.svg'
                          alt='transmission'
                        />
                        <span class='card-list-item-bot-label'>Manual</span>
                      </div>
                    </div>
                    <div class='card-list-item-bot-row'>
                      <div class='card-list-item-bot-col'>
                        <span
                          class='card-list-item-bot-label-price'
                        >$22.000</span>
                      </div>
                      <a href='#' class='card-list-item-bot-link'>
                        <span class='card-list-item-bot-link-title'>
                          View Details
                        </span>
                        <img
                          class='card-list-item-bot-link-arrow'
                          src='public/img/link_arrow.svg'
                          alt='link arrow'
                        />
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
              <div class='featured-pagination swiper-pagination'></div>
              <div class='featured-arrow-prev swiper-button-prev'></div>
              <div class='featured-arrow-next swiper-button-next'></div>
            </div>
          </div>
        </div>
      </section>
      <section class='bottom-banner'>
        <div class='container'>
          <dic class='bottom-banner-inner'>
            <div class='bottom-banner-left'>
              <img
                class='bottom-banner-img'
                src='public/img/bottom_banner.png'
                alt='bottom_banner_img'
              />
            </div>
            <div class='bottom-banner-right'>
              <div class='bottom-banner-row'>
                <h3 class='bottom-banner-title'>
                  Have more questions? Don't hesitate to reach us
                </h3>
              </div>
              <div class='bottom-banner-row'>
                <a href='#' class='bottom-banner-link'>
                  <img
                    class='bottom-banner-logo'
                    src='public/img/phone_black.svg'
                    alt='phone_logo_dark'
                  />
                  <span class='bottom-banner-text'>+76 956 039 999</span>
                </a>
                <a href='#' class='bottom-banner-link'>
                  <img
                    class='bottom-banner-logo'
                    src='public/img/mail.svg'
                    alt='mail_logo'
                  />
                  <span class='bottom-banner-text'>ali@boxcars.com</span>
                </a>
              </div>
              <div class='bottom-banner-row'>
                <a class='bottom-banner-row-link' href='#'>
                  <span class='bottom-banner-link-text'>Get Started</span>
                  <img src='public/img/link_arrow.svg' alt='arrow_logo' />
                </a>
              </div>
            </div>
          </dic>
        </div>
      </section>
    </main>
    <footer class='footer'>
      <div class='container'>
        <div class='footer-top-inner'>
          <div class='footer-top'>
            <div class='footer-top-col'>
              <img
                class='footer-left-logo'
                src='public/img/logo.svg'
                alt='logo'
              />
              <div class='footer-left-phone-inner'>
                <img
                  class='footer-left-phone-inner-logo'
                  src='public/img/phone.svg'
                  alt='phone_logo'
                />
                <span>+75 123 456 789</span>
              </div>
            </div>
            <div class='footer-top-col'>
              <span class='footer-col-title'>Company</span>
              <a class='footer-col-link' href='#'>About Us</a>
              <a class='footer-col-link' href='#'>Blog</a>
              <a class='footer-col-link' href='#'>Services</a>
              <a class='footer-col-link' href='#'>FAQs</a>
              <a class='footer-col-link' href='#'>Terms</a>
              <a class='footer-col-link' href='#'>Contact Us</a>
            </div>
            <div class='footer-top-col'>
              <span class='footer-col-title'>Top Brands</span>
              <a class='footer-col-link' href='#'>Toyota</a>
              <a class='footer-col-link' href='#'>Porsche</a>
              <a class='footer-col-link' href='#'>Audi</a>
              <a class='footer-col-link' href='#'>BMW</a>
              <a class='footer-col-link' href='#'>Ford</a>
              <a class='footer-col-link' href='#'>Nissan</a>
              <a class='footer-col-link' href='#'>Peugeot</a>
              <a class='footer-col-link' href='#'>Volkswagen</a>
            </div>
            <div class='footer-top-col'>
              <span class='footer-col-title'>Vehicles Type</span>
              <a class='footer-col-link' href='#'>Sedan</a>
              <a class='footer-col-link' href='#'>Hatchback</a>
              <a class='footer-col-link' href='#'>SUV</a>
              <a class='footer-col-link' href='#'>Hybrid</a>
              <a class='footer-col-link' href='#'>Electric</a>
              <a class='footer-col-link' href='#'>Coupe</a>
              <a class='footer-col-link' href='#'>Truck</a>
              <a class='footer-col-link' href='#'>Convertible</a>
            </div>
          </div>
        </div>
      </div>
      <div class='footer-bot-inner'>
        <div class='container'>
          <div class='footer-bot'> 2024 exemple.com. All rights reserved.</div>
        </div>
      </div>
    </footer>
  </body>
</html>