<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <link rel='stylesheet' href='public/css/normalize.css' />
    <link rel='stylesheet' href='public/css/header.css' />
    <link rel='stylesheet' href='public/css/footer.css' />
    <link rel='stylesheet' href='public/css/style.css' />
    <link rel='stylesheet' href='public/css/place_an_order.css' />
    <script src='public/js/header.js' defer></script>
  </head>
  <body>
    <header class='header'>
      <div class='header-left'>
        <img class='header-left-logo' src='public/img/logo.svg' alt='logo' />
        <div class='header-left-phone-inner'>
          <img
            class='header-left-phone-inner-logo'
            src='public/img/phone.svg'
            alt='phone'
          />
          <span>+75 123 456 789</span>
        </div>
      </div>
      <!-- original menu -->
      <div class='header-right'>
        <a href='#' class='header-link'>Home</a>
        <a href='#' class='header-link'>Listings</a>
        <a href='#' class='header-link'>Blog</a>
        <a href='#' class='header-link'>Pages</a>
        <a href='#' class='header-link'>About Us</a>
        <a href='#' class='header-link'>Contacts</a>
      </div>
      <!-- mobile menu -->
      <div class='header-burger-inner'>
        <div class='header-burger'>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class='mobile-menu'>
          <ul class='mobile-menu-list'>
            <li class='mobile-menu-list-item'>
              <a class='mobile-menu-list-item-link' href='#'>Home</a>
            </li>
            <li class='mobile-menu-list-item'>
              <a class='mobile-menu-list-item-link' href='#'>Listings</a>
            </li>
            <li class='mobile-menu-list-item'>
              <a class='mobile-menu-list-item-link' href='#'>Blog</a>
            </li>
            <li class='mobile-menu-list-item'>
              <a class='mobile-menu-list-item-link' href='#'>Pages</a>
            </li>
            <li class='mobile-menu-list-item'>
              <a class='mobile-menu-list-item-link' href='#'>About Us</a>
            </li>
            <li class='mobile-menu-list-item'>
              <a class='mobile-menu-list-item-link' href='#'>Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class='main'>
      <section class='top'>
        <div class='container'>
          <div class='top-inner'>
            <div class='breadcrumbs'>
              <a class='breadcrumbs-link' href='#'>Home</a>
              <span>/</span>
              <a class='breadcrumbs-link' href='#'>Listings</a>
              <span>/</span>
              <a class='breadcrumbs-link' href='#'>T-Cross – 2023</a>
              <span>/</span>
              <span class='breadcrumbs-last'>Place an Order</span>
            </div>
            <h1 class='breadcrumbs-title'>Place an Order</h1>
          </div>
        </div>
      </section>
      <section class='order'>
        <div class='container'>
          <section class='order-inner'>
            <div class='order-item'>
              <div class='order-item-col'>
                <img
                  class='order-item-image'
                  src='public/img/order_item.png'
                  alt='order_item'
                />
              </div>
              <div class='order-item-col'>
                <h3 class='order-item-top'>T-Cross – 2023</h3>
                <div class='order-item-mid'>
                  <div class='order-item-mid-row'>
                    <img
                      class='order-item-mid-row-logo'
                      src='public/img/speed_logo.svg'
                      alt='speed_logo'
                    />
                    <span class='order-item-mid-row-label'>250 000 km</span>
                  </div>
                  <div class='order-item-mid-row'>
                    <img
                      class='order-item-mid-row-logo'
                      src='public/img/fuel_logo.svg'
                      alt='fuel_logo'
                    />
                    <span class='order-item-mid-row-label'>Petrol</span>
                  </div>
                  <div class='order-item-mid-row'>
                    <img
                      class='order-item-mid-row-logo'
                      src='public/img/transmission_logo.svg'
                      alt='transmission_logo'
                    />
                    <span class='order-item-mid-row-label'>CVT</span>
                  </div>
                </div>
                <div class='order-item-bot'>$15.000</div>
              </div>
            </div>
            <!-- Order form -->
            <form class='order-form' action='/order' method='POST'>
              <div class='order-form-input'>
                <span class='order-form-input-info'>Firstname</span>
                <input
                  class='order-form-input-item'
                  type='text'
                  name='first_name'
                  id='first_name'
                />
              </div>
              <div class='order-form-input'>
                <span class='order-form-input-info'>Lastname</span>
                <input
                  class='order-form-input-item'
                  type='text'
                  name='last_name'
                  id='last_name'
                />
              </div>
              <div class='order-form-input'>
                <span class='order-form-input-info'>Phone</span>
                <input
                  class='order-form-input-item'
                  type='text'
                  name='phone'
                  id='phone'
                />
              </div>
              <div class='order-form-input'>
                <span class='order-form-input-info'>Email</span>
                <input
                  class='order-form-input-item'
                  type='text'
                  name='email'
                  id='email'
                />
              </div>
              <button class='order-form-button' type='button'>
                <span>Send</span>
                <img src='public/img/link_arrow.svg' alt='link_arrow' />
              </button>
            </form>
          </section>
        </div>
      </section>
    </main>
    <footer class='footer'>
      <div class='container'>
        <div class='footer-top-inner'>
          <div class='footer-top'>
            <div class='footer-top-col'>
              <img
                class='footer-left-logo'
                src='public/img/logo.svg'
                alt='logo'
              />
              <div class='footer-left-phone-inner'>
                <img
                  class='footer-left-phone-inner-logo'
                  src='public/img/phone.svg'
                  alt='phone_logo'
                />
                <span>+75 123 456 789</span>
              </div>
            </div>
            <div class='footer-top-col'>
              <span class='footer-col-title'>Company</span>
              <a class='footer-col-link' href='#'>About Us</a>
              <a class='footer-col-link' href='#'>Blog</a>
              <a class='footer-col-link' href='#'>Services</a>
              <a class='footer-col-link' href='#'>FAQs</a>
              <a class='footer-col-link' href='#'>Terms</a>
              <a class='footer-col-link' href='#'>Contact Us</a>
            </div>
            <div class='footer-top-col'>
              <span class='footer-col-title'>Top Brands</span>
              <a class='footer-col-link' href='#'>Toyota</a>
              <a class='footer-col-link' href='#'>Porsche</a>
              <a class='footer-col-link' href='#'>Audi</a>
              <a class='footer-col-link' href='#'>BMW</a>
              <a class='footer-col-link' href='#'>Ford</a>
              <a class='footer-col-link' href='#'>Nissan</a>
              <a class='footer-col-link' href='#'>Peugeot</a>
              <a class='footer-col-link' href='#'>Volkswagen</a>
            </div>
            <div class='footer-top-col'>
              <span class='footer-col-title'>Vehicles Type</span>
              <a class='footer-col-link' href='#'>Sedan</a>
              <a class='footer-col-link' href='#'>Hatchback</a>
              <a class='footer-col-link' href='#'>SUV</a>
              <a class='footer-col-link' href='#'>Hybrid</a>
              <a class='footer-col-link' href='#'>Electric</a>
              <a class='footer-col-link' href='#'>Coupe</a>
              <a class='footer-col-link' href='#'>Truck</a>
              <a class='footer-col-link' href='#'>Convertible</a>
            </div>
          </div>
        </div>
      </div>
      <div class='footer-bot-inner'>
        <div class='container'>
          <div class='footer-bot'>© 2024 exemple.com. All rights reserved.</div>
        </div>
      </div>
    </footer>
  </body>
</html>